

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}


:root {
  --swiper-pagination-color: #000;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 6px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

/* offer - register - login */
.navbar {
  padding:0px 30px;
  position: static;
  background-color: transparent;
  box-shadow: none;
  max-width: 1240px;
}


/* offer */
.header-size-2_125rem-responsive {
  max-width: 500px;
  text-align:center;
  margin-bottom:10px;
  font-size:2.125rem;
  font-weight:500;
  line-height:2.75rem;
}



/* offer */
.paragraph-1_125rem-responsive {
  display: inline-block; /* Convertir los párrafos en elementos en línea */
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.625rem;
}


/* footer's offer-register-login */
.idioms-footer {
  width: 200px;
}



.button-orange-primary {
  background-color:#F47521;
  border-radius: 0;
  padding:8px 14px;
  color:#141519;
  height:2.5rem;
  text-align:center;
  transition: 0,5s;
}

.button-orange-primary:hover {
  background-color: #FF944D;
}


.button-orange-secondary {
  color:#F47521;
  border: 2px solid;
  border-radius: 0;
  padding:8px 14px;
  height:2.5rem;
  text-align:center;
  transition: .5s;
}

.button-orange-secondary:hover {
  color:#ffa66a;
  background-color: transparent;
}

.enlace-naranja {
  color: #F47521;
  cursor: pointer;
}

.enlace-naranja:hover {
  text-decoration: underline;
}

.no-decoration {
  text-decoration: none;
}

.iconsHoverToColorWhite path {
  transition: fill .2s ease;
}

.iconsHoverToColorWhite:hover path {
  fill: #FFF;
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scroll::-webkit-scrollbar-button:increment,
.custom-scroll::-webkit-scrollbar-button {
  display: none;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #23252B;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134);
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #999999;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.custom-scroll::-webkit-scrollbar-thumb:active {
  background-color: #858585;
}





@media (max-width: 799px) {
  /* offer */
  .header-size-2_125rem-responsive {
    max-width: 600px;
    margin-bottom:0.5rem;
    font-size:1.75rem;
    line-height:2.25rem;
  }
}



@media (max-width: 567px) {

  .button-orange-primary{
    width: 93%;
  }

  .button-orange-secondary {
    width: 93%;
  }
  
  .header-size-2_125rem-responsive {
    margin-bottom:10px;
    font-size:1.5rem;
    line-height:2rem;
  }
  
  .paragraph-1_125rem-responsive {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }

  .footer-idioms-politics {
    flex-direction: column;
  }

  .dividerFooter {
    display:none;
  }

  .idioms-footer {
    width: 93vw;
    margin-top: 30px;
  }

  .display-none-567 {
    display: none;
  } 

  .display-none-567 * {
    display: none;
  }

}
